<img class="login-logo" src="/imgs/clarity-logo.png">

<p> <%= flash[:error] %></p>
<div class="input-holder">
  <%= form_for @coach do |f| %>
  <div>
    <%= f.text_field :full_name, :placeholder => "Full Name", :required => true, :class => "input-fields" %>
  </div>
  <div>
    <%= f.text_field :company_name, :placeholder => "Company Name", :required => true, :class => "input-fields" %>
  </div>
  <div>
    <%= f.text_field :email, :placeholder => "Email", :required => true, :class => "input-fields" %>
  </div>
  <div>
    <%= f.password_field :password, :placeholder => "Password", :required => true, :class => "input-fields" %>
  </div>
  <div>
    <%= f.submit "Sign Up", :class => "create-coach-button" %>
  </div>
</div>
<% end %>