<!DOCTYPE html>
<html>
<head>
  <title>Clarity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if coach_logged_in? %>
  <header>
    <%= link_to("Home", coach_path(current_coach)) %>
    <%= link_to("Log Out", logout_path) %>
    <%= link_to("Create New Client", new_client_path) %>
  </header>
  <% end %>

  <% if client_logged_in? %>
  <header>
    <%= link_to("Home", client_path) %>
    <%= link_to("Log Out", logout_path) %>
  </header>
  <% end %>
  <%= yield %>

</body>
</html>
